body {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
}

#grid-container {
  width: 78%;
}
  
  #grid {
    background-size: cover !important;
    background-repeat: no-repeat;
    border-top: solid 1px #d0d0d0;
    border-left: solid 1px #d0d0d0;
    margin: auto;
  }

  .grid-row {
    height: 15px;
    border-bottom: solid 1px #d0d0d0;
    display: block;
  }

  .pixel {
    height: 15px;
    width: 15px;
    border-right: solid 1px #d0d0d0;
    display: inline-block;
    box-sizing: initial;
  }

  .pixel:hover {
    background: #d0d0d0;
    cursor: pointer;
  }

#gui-container {
  position: fixed;
  right: 0;
  width: 22%;
  min-width: 246px;
  height: 100%;
  background: #252525;
  color: #fff;
  text-align: center;
}

#gui-container h1 {
  text-align: center;
}

  #grid-options-container {
    text-align: center;
  }

  .grid-options {
  }

  #pixel-size {
    width: 75%;
    margin: auto;
    text-align: center;
  }
 
  #grid-size {
    width: 75%;
    margin: auto;
    text-align: center;
  } 

  input {
    border: #d0d0d0; 
    padding: 10px;
    font-size: 20px;
    width: 137px;
    margin-bottom: 8px;
  }

  .grid-options-label {
    margin-top: 35px;
  }

  #swatch-container {
    height: 44px;
    border-top: solid 1px #d0d0d0;
    border-left: solid 1px #d0d0d0;
    display: inline-block;
    margin: auto;
  }

  #swatch-label {
    margin: 27px 0;
  }

  .swatch {
    height: 43px;
    width: 43px;
    background: #fff;
    border-bottom: solid 1px #d0d0d0;
    border-right: solid 1px #d0d0d0;
    display: inline-block;
  }

  .swatch:hover {
    background: #d0d0d0;
    cursor: pointer;
  }

  .swatch p {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: #000 1px 1px 0px;
  }

  #swatch1 {
    background-color: red;
  }

  #swatch2 {
    background-color: orange;
  }

  #swatch3 {
    background-color: yellow;
  }

  #swatch4 {
    background-color: green;
  }

  #swatch5 {
    background-color: blue;
  }

  #swatch6 {
    background-color: purple;
  }

  /** Color Picker **/
  #color-picker {
    width: 90%;
    padding: 0 10%;
  }

  #picker-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
  }

  #slider-wrapper {
    width: 10%;
    height: 150px;
    position: absolute;
    top: 0;
    right: 2%;
  }

  #picker-indicator {
    width: 3px;
    height: 3px;
    position: absolute;
    border: 1px solid #252525;
  }

  #slider-indicator {
    width: 100%;
    height: 10px;
    position: absolute; 
    bottom: 0;
    border: 1px solid black;
  }

  #save-container {
  }

  #save {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-bottom: solid 2px;
  }
