#grid-container {
  border-top: solid 1px #d0d0d0;
  border-left: solid 1px #d0d0d0;
  margin: auto;
  padding: 0;
}

.row {
  height: 15px;
  border-bottom: solid 1px #d0d0d0;
  display: block;
}

.pixel {
  height: 15px;
  width: 15px;
  border-right: solid 1px #d0d0d0;
  display: inline-block;
  margin-bottom: -3px;
}

.pixel:hover {
  background: #d0d0d0;
}
